body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #132e4c;
}

.imagem a {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #FDFDFD, #DEDEDE);
}