/***   formatação geral   ***/
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


/***   formatando o corpo   ***/
html, body {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-rows: 180px 1fr 130px;
    height: 100%;
    width: 70%;
    margin: auto;
}

/***   formatando o cabeçalho   ***/

header {
    background-color: #4953FA;
}

header h1 {
    text-align: center;
    font-size: 60pt;
    padding: 15px 0 0 0;
}

span {
    color: white;
}

.cabecalho nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav a {
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 18pt;
    background-color: white;
    margin: 5px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
}

nav a:hover {
    background-color: black;
    color: white;
}

/***   formatando o conteúdo   ***/
main {
    background-color: rgb(243, 240, 240);
    margin: 10px 0 10px 0;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.area-perfil {
    display: flex;
    flex-direction: row;
    margin: 0 0 50px 0;
}

.imagem-perfil img {
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.texto-perfil {
    display: flex;
    flex-direction: column;
    width: 100vh;
}

.sobre-mim {
    margin: 0 0 0 10px;
}

.area-conhecimentos {
    display: flex;
    margin: 0 0 0 10px;
}

.processos label {
    font-size: 14pt;
}

.processos {
    margin: 0 20px 0 0;
}

.barra-processos {
    width: 150px;
    height: 30px;
}

.area-formacoes {
    display: flex;
    flex-direction: row;
}

.texto-formacoes {
    margin: 0 0 0 10px;
}

.texto-formacoes p {
    margin: 0 0 0 10px;
}

.imagens-formacoes img {
    border-radius: 50%;
    width: 185px;
}


/***   formatando o Rodapé   ***/
footer {
    background-color: #4953FA;
}

.contatos {
    font-size: 14pt;
    color: white;
}

.area-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-rapido h2 a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-rapido {
    color: white;
}

.nav-rapido a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12pt;
    color: white;
    margin: 2px;
}

.media {
    margin: 5px 20px 0 0;
    color: white;
}

.media img {
    border-radius: 50%;
    border: solid 1px black;
}

.direitos-reservados {
    text-align: center;
}

/*   Área responsividade   */

@media (max-width: 768px) {
    .grid {
        grid-template-rows: 180px 1fr 130px;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .texto-perfil, .texto-formacoes p {
        font-size: 16pt;
    }
}

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .grid {
        grid-template-rows: 40% 1fr 40%;
        background-color: red;
    }

     main {
        width: 100%;

    }

    /*   cabeçalho   */
    header {
        margin: auto;
        width: 100%;
    }

    nav a {
        width: 100px;
    }

    /*   corpo   */

    .area-perfil {
        display: flex;
        flex-direction: column;
    }

    .imagem-perfil {
        margin: auto;
    }

    .area-formacoes {
        display: flex;
        flex-direction: column;
    }

    .imagens-formacoes {
        margin: auto;
    }

    /*   rodapé   */

    .nav-rapido {
        display: none;
    }

    .media {
        width: 200px;
    }

    .direitos-reservados p {
        align-items: center;
    }
}