/***   formatação geral   ***/
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


/***   formatando o corpo   ***/
html, body {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-rows: 180px 1fr 130px;
    height: 100%;
    width: 70%;
    margin: auto;
}

/***   formatando o cabeçalho   ***/

header {
    background-color: #4953FA;
}

header h1 {
    text-align: center;
    font-size: 60pt;
    padding: 15px 0 0 0;
}

span {
    color: white;
}

.cabecalho nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav a {
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 18pt;
    background-color: white;
    margin: 5px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
}

nav a:hover {
    background-color: black;
    color: white;
}

/***   formatando o conteúdo   ***/
main {
    background-color: rgb(243, 240, 240);
    margin: 10px 0 10px 0;
}

.area-projeto {
    display: flex;
    margin: 0 0 20px 0;
}

.texto-projeto {
    margin: 0 0 0 10px;
}

.texto-projeto p {
    margin: 10px 0 0 10px;
}

.imagem-projeto img {
    border-radius: 50%;
}

.imagem-projeto:hover {
    background: rgb(235, 226, 245);
}

/***   formatando o Rodapé   ***/
footer {
    background-color: #4953FA;
}

.contatos {
    font-size: 14pt;
    color: white;
}

.area-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-rapido h2 a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-rapido {
    color: white;
}

.nav-rapido a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12pt;
    color: white;
    margin: 2px;
}

.media {
    margin: 5px 20px 0 0;
    color: white;
}

.media img {
    border-radius: 50%;
    border: solid 1px black;
}

.direitos-reservados {
    text-align: center;
}