/******* FORMATANDO A PÁGINA ********/
* {
    padding: 0;
    margin: 0;
}

/********** BARRA DE NAVEGAÇÃO ***********/
#nav_bar {
    margin: auto;
    background-color: rgb(72, 72, 252);
    text-align: center;
}

#nav_bar p {
    font-size: 90px;
    padding: 40px;
    color: black;
}

span {
    color: white;
}

#links-nav {
    font-size: 30px;
    padding: 0px 20px 20px 20px;
}

#links-nav a {
    text-decoration: none;
    padding: 15px 40px;
    background: white;
    color: black;
    border-radius: 20px;
}

#links-nav a:hover {
    background: black;
    color: white;
}

/********** CORPO PROJETOS *********/

#corpo-trajetoria {
    margin: auto;
    width: 1200px;
}

.titulo {
    text-align: center;
    margin: 35px;
    font-size: 40px;
}

.imagem-projeto {
    margin-right: 10px;
    float: left;
}

.imagem-projeto img {
    border-radius: 50%;
}

.texto-projeto {
    margin: 15px;
}

.texto-projeto h1 {
    font-size: 30px;
}

.texto-projeto p {
    font-size: 20px;
    padding: 5px;
    position: relative;
    left: 10px;
}

.tecnologias {
    position: relative;
    left: 30px;
}

.clear {
    clear: both;
}

/********* RODAPÉ **********/
#rodape {
    background-color: rgb(72, 72, 252);
    margin: 15px 0px;
    border-radius: 20px;
}

#informacoes {
    padding: 0px 10px;
}

.mais-informacoes {
    float: left;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.links-redes {
    float: right;
    position: relative;
    top: 15px;
    right: 10px;
    color: white;
}

.links-redes a {
    width: 64px;
    height: 64px;
}

.direitos {
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 45px;
    left: 65px;
    color: white;
    float: left;
}