/******* FORMATANDO A PÁGINA ********/
* {
    padding: 0;
    margin: 0;
}

/********** BARRA DE NAVEGAÇÃO ***********/
#nav_bar {
    margin: auto;
    width: 1200px;
    background-color: blue;
    text-align: center;
}

#nav_bar p {
    font-size: 90px;
    padding: 40px;
}

#links-nav {
    font-size: 30px;
    padding: 0px 20px 20px 20px;
}

#links-nav a {
    text-decoration: none;
    padding: 15px 40px;
    background: red;
}

#links-nav a:hover {
    background: white;
}

.links-redes {
    float: right;
    position: relative;
    bottom: 70px;
}

/********** CORPO TRAJETÓRIA *********/

#corpo-trajetoria {
    margin: auto;
    width: 1200px;
    background-color: yellow;
}

.minha-foto {
    float: left;
    margin-right: 10px;
}

.minha-foto img {
    border-radius: 50%;
}

.sobre-mim {
    margin: 10px;
}

.sobre-mim h1 {
    border: solid 1px red;
    font-size: 30px;
}

.sobre-mim p {
    font-size: 20px;
    padding: 5px;
    border: solid 1px blue;
    position: relative;
    left: 10px;
}

.conhecimentos {
    position: relative;
    left: 30px;
}

.clear {
    clear: both;
}